# IDE stuff
.classpath
.settings
.project
.vscode
.factorypath
.idea
.run

# misc
/temp

# build artifacts
target
dependency-reduced-pom.xml
derivans.log

# test artefacts
/.apt_generated/
/.apt_generated_tests/
