# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  verify:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11-LTS
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Test and verify package creation
      run: | 
        git clone --branch ulb/master https://github.com/ulb-sachsen-anhalt/mets-model.git
        cd mets-model && mvn clean install -DskipTests
        cd ${{github.workspace}} && mvn clean verify
